spring:
  application:
    name: To-Do-List

  datasource:
    url: jdbc:postgresql://localhost:5432/todo_db
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: pt.hrdept.services@gmail.com
    password: slej mrey ykxk xypb
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


jwt:
  secret: "FNKJDSHFSHFKJHFJHSGJKSHGKJSHGKJHGFKJDFH"
  expiration: 3600000
